# This is a basic workflow to help you get started with Actions

name: Continuous Integration

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ dev ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Build project
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs single commands using the runners shell
      - run: composer validate --strict
      - run: composer install --prefer-dist --no-progress --no-suggest

      - name: PHP Unit tests
        if: ${{ always() }}
        run: vendor/bin/phpunit

      - name: PHP Code Sniffer
        if: ${{ always() }}
        run: vendor/bin/phpcs src/ tests/

      - name: PHP Stan
        if: ${{ always() }}
        run: vendor/bin/phpstan analyse -c phpstan.neon

      - name: PHP Mess Detector
        if: ${{ always() }}
        run: vendor/bin/phpmd src/ text phpmd.xml

      - name: PHP Magic Number Detector
        if: ${{ always() }}
        run: vendor/bin/phpmnd src tests --progress --extensions=all

      - name: PHP Copy Paste Detector (PHPCPD)
        if: ${{ always() }}
        run: vendor/bin/phpcpd ./ --exclude=var --exclude=vendor --fuzzy --min-lines=5

      - name: Churn-php
        if: ${{ always() }}
        run: vendor/bin/churn run --configuration=churn.yml

      - name: PhpDeprecationDetector
        if: ${{ always() }}
        run: php bin/phpdd src/ tests/

      - name: Deptrac
        if: ${{ always() }}
        run: vendor/bin/deptrac analyse
